@model IEnumerable<FoodEx.Data.Entity.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<h2 class="text-center my-4">Our Partnered Restaurants</h2>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="restaurant-card position-relative shadow-sm bg-white rounded overflow-hidden h-100">
                    <a asp-controller="Place" asp-action="PlaceDetails" asp-route-id="@restaurant.RestaurantId" class="text-decoration-none text-dark">
                        <div class="img-wrapper">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2013/05/spaghetti-carbonara-382837d.jpg?resize=768,574"
                                 alt="@restaurant.Name" class="img-fluid w-100" />
                        </div>
                        <div class="overlay">
                            <h5 class="restaurant-name text-white">@restaurant.Name</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
